{{- $img := .Page.Resources.GetMatch (printf "**%s" .Destination) -}}
<figure>
{{- if $img -}}
<a href="{{ $img.RelPermalink }}" data-pswp-width="{{ $img.Width }}" data-pswp-height="{{ $img.Height }}" class="lightbox-image">
  <img src="{{ $img.RelPermalink }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }} loading="lazy">
</a>
{{- else -}}
<a href="{{ .Destination }}" class="lightbox-image">
  <img src="{{ .Destination }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }} loading="lazy">
</a>
{{- end -}}
{{- with .Title }}
<figcaption>{{ . }}</figcaption>
{{- end }}
</figure>


