{{- $page := .page -}}
{{- $blogPage := $page.Site.GetPage "/blog" -}}
{{- $blogBase := "/blog/" -}}
{{- with $blogPage -}}
  {{- $blogBase = .RelPermalink -}}
{{- end -}}

{{- with $page.Params.tags -}}
  {{- if gt (len .) 0 -}}
<div class="post-tags">
  <a rel="nofollow" href="{{ $blogBase }}?q=pot-of-honey" style="display:none;">#potofhoney</a>
  {{- range . -}}
    {{- $tag := (printf "%v" .) | lower | replaceRE "\\s+" "-" -}}
    <a rel="nofollow" href="{{ $blogBase }}?q={{ $tag | urlquery }}">#{{ $tag }}</a>
  {{- end -}}
</div>
  {{- end -}}
{{- end -}}
