{{ define "main" }}
{{- with .Content -}}
  {{ . }}
{{- end -}}

{{- $sections := default (slice "posts") .Site.Params.mainSections -}}
{{- $pages := where .Site.RegularPages "Section" "in" $sections -}}

<div class="blog-header">
  <div id="tag-filters" class="tag-filters"></div>
</div>

{{ partial "post/blog-posts.html" (dict "pages" $pages.ByDate.Reverse "filterable" true) }}

{{- $allTags := slice -}}
{{- range $pages -}}
  {{- with .Params.tags -}}
    {{- range . -}}
      {{- $allTags = $allTags | append ((printf "%v" .) | lower | replaceRE "\\s+" "-") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $allTags = $allTags | uniq | sort -}}
{{- $tagsJson := $allTags | jsonify -}}
{{- $tagsB64 := $tagsJson | base64Encode -}}

<div class="tags-section" id="tags"
     data-tags="{{ $tagsB64 }}"
     data-base="{{ .RelPermalink }}"
     data-filtering-for="{{ i18n "filtering_for" }}"
     data-remove-all="{{ i18n "remove_all_filters" }}"
     data-remove-tag="{{ i18n "remove_tag" }}">
  <a rel="nofollow" href="{{ .RelPermalink }}?q=pot-of-honey" style="display:none;">#potofhoney</a>
</div>
{{ end }}
